.advertising {
    height: 105px;
    max-width: 1140px;
    display: flex;
    align-items: center;
    margin: 60px auto;
    border: 1px solid #E5E8EA;
    border-radius: 4px;

    padding: 0 98px;
    box-sizing: border-box;
}

.advertising-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #22262A;
}

.advertising_text {
    font-size: 14px;
    line-height: 17px;
    color: #755F61;
}
.advertising_inform {
    margin: 0 58px 0 30px;
}
