.catalog {
    max-width: 1140px;
    margin: 0 auto;
}

.catalog_blog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #22262A;
    margin: 60px auto;
}

.card {
    width: 262px;
    height: 500px;
    position: relative;
    border: 1px solid #E5E8EA;
    box-sizing: border-box;
    padding: 15px;
}
.card_button {
    width: 155px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF4252;

    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
}

.price {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FF4252;
    margin: 0 0 50px 0
}

.description {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #22262A;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.divider {
    height: 1px;
    background: #E5E8EA;
}

.sale_button {
    position: absolute;
    width: 106px;
    height: 28px;
    left: 10px;
    top: 10px;
    background: #FFC600;
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    justify-content: center;
    color: #FFFFFF;
}

.old_price {
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-decoration-line: line-through;
    color: #C1C8CE;
    margin: 0;
}
.action_time {
    width: 130px;
    height: 31px;
    background: #F6F7F8;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FF6875;
    margin: 10px 0;
    justify-content: center;
}
.price-box {
    display: flex;
}

.price-sale {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FF4252;
    margin: 0 10px 0 0;
}
